/* SCSS TEMPLATE FOR INTERNAL MAGENTO MODULES
* Made by: @bodeby (github)
* Compiled with: sass --watch <name>.scss:<name>.css --style compressed
* Media breakpoints: https://devfacts.com/media-queries-breakpoints-2021/ 
*/

@use 'reset';
@use 'vars';
@use 'helpers';

// Mobile first-design
.module-bundle {
  // Wrapper
  font-family: "Open Sans", sans-serif;
  margin-left: auto;
  margin-right: auto;
  padding: 0 15px;

  //margin-top: vars.$lg-dist;

  .row-top {
    display: flex;
    flex-direction: column-reverse;

    p {
      font-size: 14px;
    }

    h3,
    strong {
      color: vars.$bluecity-blue;
    }

    .left-pane {
      display: block;

      .left-pane-inner {
        padding: vars.$lg-dist;
        background-color: vars.$whitesmoke;
      }

      .btn-block {
        display: grid;
        column-gap: 0.6rem;
        grid-template-columns: repeat(3, 1fr);

        .btn {
          position: relative;
          display: flex;
          align-items: center;
          text-decoration: none;

          margin-top: 0.6rem;
          padding: 5%;
          //border-radius: 0.25rem;
          text-align: center;

          .btn-inner {
            margin: 0 auto;

            svg {
              width: auto;
              height: 45px;
              margin: 0 auto;
              display: block;
            }

            p {
              margin-top: 0.6rem;
              overflow-wrap: break-word;
            }
          }
        }

        .btn::after {
          content: "";
          display: block;
          padding-bottom: 100%;
        }

        .btn-bluecity {
          background-color: vars.$bluecity-blue;
          color: vars.$white-text;
        }

        .btn-bluecity:hover {
          background-color: vars.$bluecity-blue-dark;
        }
      }
    }

    .right-pane {
      display: block;
      min-height: 300px;
      background: vars.$image-src no-repeat center;
      background-size: cover;
      margin-bottom: vars.$sm-dist * 0.5 !important;
    }
  }
}

// Small - Devices < 576px
@media screen and (min-width: vars.$media-sm) {
  .module-bundle {
    padding-left: 20px;
    padding-right: 20px;
  }
}

// Medium - Devices < 768px
@media screen and (min-width: vars.$media-md) {
  .module-bundle {
    .row-top {
      display: grid;
      grid-template-columns: 1fr minmax(60%, 1fr);
      column-gap: 1.8rem;

      .left-pane {
        grid-column: 1 / 2;
        grid-row: 1 / 2;
      }

      .btn-block {
        grid-column: 1 / 2;
        grid-row: 2 / 3;
      }

      .right-pane {
        grid-column: 2 / 3;
        grid-row: 1 / 3;
        margin-bottom: 0 !important;

        img {
          max-width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }
  }
}

// Large - Devices < 992px
@media screen and (min-width: vars.$media-lg) {
  .module-bundle {
  }
}

// Extra-Large - Devices < 1200px;
@media screen and (min-width: vars.$media-xl) {
  .module-bundle {
    max-width: 1280px;
  }
}
