/* SCSS TEMPLATE FOR INTERNAL MAGENTO MODULES
* Made by: @bodeby (github)
* Compiled with: sass --watch <name>.scss:<name>.css --style compressed
* Media breakpoints: https://devfacts.com/media-queries-breakpoints-2021/ 
*/

@use 'reset';
@use 'vars';
@use 'helpers';

// Mobile first-design
.module-bundle {
  // Wrapper
  font-family: "Open Sans", sans-serif;
  margin-left: auto;
  margin-right: auto;
  margin-top: vars.$lg-dist;

  .row-top {
    display: flex;
    flex-direction: column-reverse;

    h3,
    strong {
      color: vars.$bluecity-blue;
    }

    .left-pane {
      display: block;
      padding: vars.$lg-dist;
      background-color: vars.$whitesmoke;
      box-shadow: vars.$block-shadow-sm;
    }

    .right-pane {
      display: block;
      box-shadow: vars.$block-shadow-sm;
      margin-bottom: vars.$sm-dist * 2 !important;

      img {
        max-width: 100%;
      }
    }

    .btn-list {
      .btn {
        display: block;
        text-decoration: none;
        padding: 0.6rem;
        margin-top: 0.6rem;
        border-radius: 0.25rem;
        padding-left: 1.2rem !important;

        .btn-icon {
          margin-right: 0.3rem;
        }
      }

      .btn-bluecity {
        background-color: vars.$bluecity-blue;
        color: vars.$white-text;
      }

      .btn-bluecity:hover {
        background-color: vars.$bluecity-blue-dark;
      }
    }
  }
}

// Small - Devices < 576px
@media screen and (min-width: vars.$media-sm) {
  .module-bundle {
  }
}

// Medium - Devices < 768px
@media screen and (min-width: vars.$media-md) {
  .module-bundle {
    .row-top {
      display: grid;
      grid-template-columns: 1fr minmax(60%, 1fr);
      grid-template-rows: 1fr 1fr;
      column-gap: 1.8rem;

      h3,
      strong {
        color: vars.$bluecity-blue;
      }

      .left-pane {
        padding: vars.$lg-dist;
        background-color: vars.$whitesmoke;
        grid-column: 1 / 2;
        grid-row: 1 / 3;
      }

      .right-pane {
        grid-column: 2 / 3;
        grid-row: 1 / 3;
        margin-bottom: 0 !important;

        img {
          max-width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }

      .btn-list {
        .btn {
          display: block;
          text-decoration: none;
          padding: 0.6rem;
          margin-top: 0.6rem;
          border-radius: 0.25rem;
          padding-left: 1.2rem !important;

          .btn-icon {
            margin-right: 0.3rem;
          }
        }

        .btn-bluecity {
          background-color: vars.$bluecity-blue;
          color: vars.$white-text;
        }

        .btn-bluecity:hover {
          background-color: vars.$bluecity-blue-dark;
        }
      }
    }
  }
}

// Large - Devices < 992px
@media screen and (min-width: vars.$media-lg) {
  .module-bundle {
  }
}

// Extra-Large - Devices < 1200px;
@media screen and (min-width: vars.$media-xl) {
  .module-bundle {
    max-width: 1280px;
  }
}
